@import '~minireset.css/minireset.css';
@import '../../../../src/flexCarousel';

$blue: #158cd8;
$primary: $blue;

@import '~bulma/sass/utilities/_all';

$navbar-padding-vertical: .5rem;
$navbar-height: 4.25rem;

$fullhd-enabled: false;

.logo {
    color: $primary;
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    font-weight: 600;
}

.preview {
    background-color: #fff;
    border-color: #f5f5f5;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 2px 0 0 #f5f5f5;
    padding: 1.5rem;
}

@import '~bulma/sass/base/_all';

@import '~bulma/sass/grid/columns';

@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/content';
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/title";

@import '~bulma/sass/components/navbar';

@import '~bulma/sass/form/shared';
@import '~bulma/sass/form/select';
