@import '../../../../src/flexCarousel'

@import 'variables'

@import '~bulma/sass/utilities/_all'
@import 'bulma/content'

.logo
    color: $primary
    font-family: 'Bree Serif', serif
    font-size: 2rem
    font-weight: $weight-bold

.preview
    background-color: $white
    border-color: $white-ter
    border-radius: 4px
    border-style: solid
    border-width: 2px
    box-shadow: 0 2px 0 0 $white-ter
    padding: 1.5rem


@import '~bulma/sass/base/_all'

@import '~bulma/sass/grid/columns'

@import '~bulma/sass/elements/button'
@import '~bulma/sass/elements/container'
@import '~bulma/sass/elements/image'
@import "~bulma/sass/elements/icon"
@import "~bulma/sass/elements/title"

@import '~bulma/sass/components/navbar'
@import '~bulma/sass/components/menu'

@import '~bulma/sass/form/_all'

@import "~bulma/sass/layout/section"
